In [2]:
import pandas as pd
day1 = pd.read_csv('day1.csv');

In [3]:
day1

       day
0      150
1      152
2      155
3      156
4      157
...    ...
1995  7705
1996  7725
1997  7751
1998  7757
1999  7739

[2000 rows x 1 columns]

In [4]:
next_day = day1.drop(day1.index[0]).reset_index()['day']
day1['next'] = next_day
day1['increase'] = day1['next'] > day1['day']

In [5]:
day1['increase'].sum()

1502

In [6]:
next_next = day1['next'].drop(day1['next'].index[0]).reset_index()
day1['next_next'] = next_next['next']
day1['3daysum'] = day1[['day', 'next', 'next_next']].sum(axis=1)

In [7]:
next_3_day_sum = day1['3daysum'].drop(day1.index[0]).reset_index()['3daysum']

In [8]:
day1['next_3daysum'] = next_3_day_sum

In [9]:
day1

       day    next  increase  next_next  3daysum  next_3daysum
0      150   152.0      True      155.0    457.0         463.0
1      152   155.0      True      156.0    463.0         468.0
2      155   156.0      True      157.0    468.0         454.0
3      156   157.0      True      141.0    454.0         422.0
4      157   141.0     False      124.0    422.0         403.0
...    ...     ...       ...        ...      ...           ...
1995  7705  7725.0      True     7751.0  23181.0       23233.0
1996  7725  7751.0      True     7757.0  23233.0       23247.0
1997  7751  7757.0      True     7739.0  23247.0       15496.0
1998  7757  7739.0     False        NaN  15496.0        7739.0
1999  7739     NaN     False        NaN   7739.0           NaN

[2000 rows x 6 columns]

In [10]:
day1['3dayincrease'] = day1['next_3daysum'] > day1['3daysum']

In [11]:
day1['3dayincrease'].sum()

1538