In [1]:
import pandas as pd
day2 = pd.read_csv('day2.csv')
day2

      movement
0    forward 2
1       down 1
2       down 7
3    forward 6
4       down 6
..         ...
995       up 7
996  forward 4
997  forward 2
998     down 7
999  forward 2

[1000 rows x 1 columns]

In [8]:
day2[['dir', 'mag']] = day2['movement'].str.split(expand=True)

In [12]:
day2['mag'] = day2['mag'].astype(int)

In [17]:
tot_mov = day2.groupby('dir').sum()
tot_mov

          mag
dir
down     2015
forward  1895
up       1121

In [27]:
(tot_mov.loc['down'] - tot_mov.loc['up']) * tot_mov.loc['forward']

mag    1694130
dtype: int32

In [25]:
aim = 0
forward = 0
depth = 0

for index, row in day2.iterrows():
    mv = row['dir']
    if (mv == 'down'):
        aim += row['mag']
    elif (mv == 'up'):
        aim -= row['mag']
    elif (mv == 'forward'):
        forward += row['mag']
        depth += aim * row['mag']

In [26]:
depth * forward

1698850445